@use '../media' as *;

.header {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  z-index: 50;

  @include tablet {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    padding: 15px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
  }

  &__logo {
    width: 221px;

    @include laptop {
      width: 150px;
    }
  }
}
