@use '../variables' as *;
@use '../media' as *;

.hero {
  position: relative;
  z-index: 1;
  padding: 267px 0 120px;

  @include laptop {
  }

  @include tablet {
    padding: 170px 0 80px;
  }

  @include mobile {
    padding: 120px 0 20px;
  }

  &__container {
    display: grid;
    grid-template-areas:
      'subtitle .'
      'title info'
      'text info'
      'button info';

    @include tablet {
      grid-template-areas:
        'subtitle'
        'title'
        'text'
        'button'
        'info';
    }

    @include mobile {
    }
  }

  &__subtitle {
    position: relative;
    display: flex;
    align-items: center;
    grid-area: subtitle;
    font-size: 20px;
    margin-bottom: 15px;

    @include laptop {
      font-size: 18px;
    }

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      font-size: 14px;
    }

    &::before {
      content: '';
      position: absolute;
      left: -125px;
      max-width: 100px;
      width: 100%;
      height: 1px;
      background-color: $white;
    }
  }

  &__title {
    grid-area: title;
    font-size: 62px;
    line-height: 1.35484;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 15px;

    @include laptop {
      font-size: 44px;
    }

    @include tablet {
      font-size: 32px;
    }

    @include mobile {
      font-size: 22px;
    }
  }

  &__title-thin {
    display: block;
    max-width: 660px;
    font-weight: 400;

    @include laptop {
      max-width: 470px;
    }

    @include tablet {
      max-width: 340px;
    }

    @include mobile {
      max-width: 240px;
    }
  }

  &__title-bold {
    font-weight: 700;
  }

  &__description {
    grid-area: text;
    max-width: 645px;
    margin-bottom: 35px;

    @include laptop {
      max-width: 570px;
    }
  }

  &__button {
    grid-area: button;
    justify-self: start;
    margin-bottom: 133px;

    @include tablet {
      margin-bottom: 70px;
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__social {
    position: absolute;
    top: 480px;
    right: -230px;
    display: flex;
    align-items: center;
    gap: 25px;
    transform: rotate(90deg);

    @include laptop {
    }

    @include tablet {
      top: 420px;
      right: -210px;
    }

    @include mobile {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      left: -105px;
      width: 80px;
      height: 1px;
      background-color: $white;
    }
  }

  &__social-link {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    // transform: rotate(90deg);

    @include laptop {
      font-size: 16px;
    }

    @include tablet {
      font-size: 14px;
    }

    @include mobile {
      font-size: 12px;
    }
  }

  &__social-dot {
    display: block;
    width: 5px;
    height: 5px;
    background-color: $white;
    border-radius: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    grid-area: info;
    align-self: end;

    @include tablet {
      display: none;
    }
  }

  &__item {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;

    @include tablet {
      gap: 10px;
    }
  }

  &__item-info {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33333;
    text-transform: uppercase;
    text-align: right;

    @include laptop {
      font-size: 18px;
    }

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      font-size: 14px;
    }

    & span {
      font-weight: 700;
    }
  }

  &__item-icon {
    width: 100px;
    height: 100px;

    @include laptop {
      width: 80px;
      height: 80px;
    }

    @include tablet {
    }

    @include mobile {
    }
  }

  &__buildy {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 165px;
    width: 1082px;
    height: 142px;

    @include laptop {
      bottom: 190px;
      width: 580px;
    }

    @include tablet {
      bottom: 100px;
      width: 480px;
    }

    @include mobile {
      bottom: 10px;
      width: 320px;
    }
  }
}
